/**
 * @file
 * Styling for viewfields.
 */
.viewfield--item__label {
  font-weight: bold;
}

.viewfield--item--label-inline .viewfield--item__label,
.viewfield--item--label-inline .viewfield--item__items {
  float: left; /*LTR*/
}
.viewfield--item--label-inline .viewfield--item__label,
.viewfield--item--label-inline > .viewfield--item__item,
.viewfield--item--label-inline .viewfield--item__items {
  padding-right: 0.5em;
}
[dir="rtl"] .viewfield--item--label-inline .viewfield--item__label,
[dir="rtl"] .viewfield--item--label-inline .viewfield--item__items {
  padding-left: 0.5em;
  padding-right: 0;
}
.viewfield--item--label-inline .viewfield--item__label::after {
  content: ':';
}
