/**
 * @file
 * Default Viewfield styling.
 */

.viewfield__item__label {
  font-weight: bold;
}
.viewfield__item--label-inline .viewfield__item__label,
.viewfield__item--label-inline .views-element-container {
  float: left; /*LTR*/
}
.viewfield__item--label-inline .viewfield__item__label,
.viewfield__item--label-inline .views-element-container {
  padding-right: 0.5em;
}
[dir="rtl"] .viewfield__item--label-inline .viewfield__item__label,
[dir="rtl"] .viewfield__item--label-inline .views-element-container {
  padding-left: 0.5em;
  padding-right: 0;
}
.viewfield__item--label-inline .viewfield__item__label::after {
  content: ':';
}
